/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #FFFACD;
}

h1 {
  color: #00000;
  font-size: 65px;
  font-family: 'Londrina Solid', cursive;
}

h2 {
  margin-top: 2em;
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  font-color: #ff0000;
}

.question {
  display: flex;
  margin-top: 2em;
  font-size: 25px
}
  
.answer-choice {
}

img {
  height: 10em;
}

#gossipgirl {
  width: 600px;
  height: 350px;
}

button {
  font-size: 25px
}

button:focus {background-color: #99ff66}
